@model SuperHeros.Models.Superhero

@{
    ViewData["Title"] = "SuperheroController";
}

<h1>SuperheroController</h1>

<h4>Superhero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuperheroController">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alter_Ego" class="control-label"></label>
                <input asp-for="Alter_Ego" class="form-control" />
                <span asp-validation-for="Alter_Ego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Primary_Ability" class="control-label"></label>
                <input asp-for="Primary_Ability" class="form-control" />
                <span asp-validation-for="Primary_Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secondary_Ability" class="control-label"></label>
                <input asp-for="Secondary_Ability" class="form-control" />
                <span asp-validation-for="Secondary_Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catchphrase" class="control-label"></label>
                <input asp-for="Catchphrase" class="form-control" />
                <span asp-validation-for="Catchphrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
